body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

/* sidebar */
.sidebar {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: #343a40;
}

.sidebar .nav-link {
    color: #c7c7c7;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #007bff;
    color: white;
}

.user-section {
    position: absolute;
    bottom: 0;
}

.content {
    background-color: #f8f9fa;
    padding: 20px;
}

.toggle-sidebar {
    cursor: pointer;
}

#image-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#select-picture {
    display: none;
}

form {
    margin-top: 20px;
}

.form-textarea {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(38, 38, 38, 0.55);
    box-shadow: 0px 0px 15px -4px rgba(38, 38, 38, 0.55);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: solid;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-radius: 10px;
    padding: 0.4rem;
    width: 100%;
    margin-bottom: 2rem;
}
