@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --col1: #8afff9;
}

body {
    font-family: "Inter", sans-serif;
    width: 100vw !important;
    background-color: black;
}

main {
    margin-top: 65px;
}

.navbar {
    font-size: 16px;
    height: 65px !important;
    background-color: black !important;
}

footer {
    background-color: black;
}

.homepage {
    background-color: black;
}

.hero-section {
    background: url("/images/client/hero-background.png") no-repeat center
        center;
    background-size: cover;
    width: 100%;
    height: 100vh; /* Full height */
    color: white; /* Adjust text color */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.hero-left {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    z-index: 2;
    color: white;
}

.hero-right {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    background-image: url("/images/client/hero-rectangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.rounded-container {
    background-color: red;
    padding-left: 4rem;
    border-radius: 0px 110px 110px 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin-top: 40vh;
}

.hero-text-1 {
    font-size: 48px;
}

.hero-text-2 {
    font-size: 26px;
}

.our-mision {
    color: white;
}

.our-mision-texts h2 {
    color: var(--col1);
}

.our-mision-content {
    background: url("/images/client/our-mision-bg.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.our-mission-text {
    font-size: 20px !important;
    max-height: 20vh;
    overflow-y: auto;
}

/* Fade-in effect */
.fade-in {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

/* When the element is in the viewport, the opacity changes to 1 */
.fade-in.visible {
    opacity: 1;
}

ul.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.info-list li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: white;
    font-size: 16px;
}

ul.info-list li::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--col1);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top: 4px;
}

ul.info-list-left {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.info-list-left li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: row;
    color: white;
    font-size: 16px;
    text-align: right;
}

ul.info-list-left li::after {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--col1);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top: 4px;
}

.about-us {
    background: url("/images/client/cine-suntem-noi-bg.png") no-repeat center
        center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.about-us-images {
    position: relative;
}

.about-us-images img {
    height: 80vh;
}

.about-us-text {
    font-size: 20px !important;
    max-height: 80vh;
    overflow-y: auto;
}

.image-about-us {
    position: absolute;
    height: auto;
    border-radius: 10px;
    opacity: 0.8;
}

.image-about-us-1 {
    width: 41%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.image-about-us-2 {
    width: 25%;
    top: 19%;
    left: 18%;
}

.image-about-us-3 {
    width: 33.34%;
    top: 50%;
    left: 29.8%;
}

.image-about-us-4 {
    width: 20%;
    top: 64%;
    left: 55%;
}

.image-about-us-5 {
    left: 18%;
    top: 66.67%;
    width: 20%;
}

.blog-section {
    background: url("/images/client/blog-bg.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
}

.image-box {
    border: 1px solid #60c9d8;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    height: inherit;
    overflow: hidden;
}

.image-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box p {
    font-size: 20px;
}

.image-box p,
.image-box h1 {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.blog-images-1 {
    height: 500px;
    position: relative;
}
.blog-images-2 {
    height: 500px;
    position: relative;
}

.text-container {
    padding: 20px;
}
.btn-custom {
    background-color: #b96e2e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.btn-custom:hover {
    background-color: #9a5c25;
}

.product-section {
    background: url("/images/client/shop-main-bg.png") no-repeat center center;
    background-size: cover;
    min-height: 80vh;
}

.product-container {
    background: url("images/client/shop-main.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 50px;
}

.product-container a {
    color: var(--col1) !important;
}

/* .product-bg {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 105px;
    border-color: black !important;
} */

.product-description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.border-golden {
    border: black;
    border-width: 10px;
}

.my-gradient-card {
    position: relative;
    background: transparent;
    border-radius: 15px;
    padding: 2px;
}

.my-gradient-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 2px;
    background: linear-gradient(
        to right,
        #6b2d14,
        #8c5125,
        #a56a34,
        #d1a269,
        #e0c08e
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.shop-section {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    z-index: 3;
}

.shop-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.img-uniques-orgonites {
    max-width: 100%;
}

.hero-shop {
    position: relative;
    height: 96vh;
    overflow: hidden;
    background: url("/images/client/shop-banner.png") no-repeat center center;
    background-size: cover;
}

.shop-product {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.shop-product:hover {
    transform: scale(1.05);
}

.product-image img {
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-description {
    font-size: 0.9rem;
    opacity: 0.8;
}

.hero-shop-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("/images/client/shop-banner.png") no-repeat center center;
    background-size: cover;
    /* background-position: right; */
}

.hero-shop-button {
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    border: 2px solid rgba(255, 153, 51, 0.8);
    border-radius: 30px;
    padding: 10px 30px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.hero-shop-button:hover {
    background-color: rgba(255, 128, 0, 0.87);
    color: white;
}

.hero-shop-text {
    font-size: 40px;
    font-weight: 400;
}

.contact-section {
    background-image: url("/images/client/contact-us-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    padding: 60px 15px;
}

.glass-input {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 10px;
    color: white;
}

.glass-input::placeholder {
    color: #eee;
}

.glass-input:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
    border-color: #b96f2e81;
    color: white;
}

@media (max-width: 1024px) {
    .hero-section {
        height: 80vh;
    }
    .rounded-container {
        margin-top: 50vh;
        padding-left: 1rem;
    }
    .hero-text-1 {
        font-size: 30px;
    }

    .hero-text-2 {
        font-size: 18px;
    }
    .about-us-images img {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .hero-text-1 {
        font-size: 35px;
    }
    .hero-text-2 {
        font-size: 18px;
    }
    .rounded-container {
        margin-top: 33vh;
    }
    .hero-lotus {
        height: 150px;
    }
    .hero-left {
        grid-column-end: 5;
    }
    .hero-right {
        grid-column-start: 2;
    }
    .our-mision-content {
        height: 50vh;
    }

    .blog-images-1 {
        height: 300px;
    }
    .blog-images-2 {
        height: 300px;
    }
    .about-us-images img {
        height: 53vh;
    }
    .shop-section {
        text-align: center;
        padding: 50px 20px;
    }
    .shop-section h1 {
        font-size: 1.8rem;
    }
    .shop-section p {
        font-size: 1.2rem;
    }
    .hero-shop-content {
        height: inherit;
    }
    .hero-shop-section {
        height: 80vh;
    }
    .hero-shop-text {
        font-size: 22px;
        font-weight: 400;
    }
    .hero-shop-button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .image-about-us-1 {
        width: 80%;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
    }

    .image-about-us-2 {
        width: 70%;
        top: 30%;
        left: 15%;
    }

    .image-about-us-3 {
        width: 70%;
        top: 50%;
        left: 15%;
    }

    .image-about-us-4 {
        width: 60%;
        top: 70%;
        left: 20%;
    }

    .image-about-us-5 {
        width: 60%;
        top: 85%;
        left: 15%;
    }

    .blog-images-1 {
        height: 150px;
        left: 15%;
        clip-path: inset(0px 15% 0px 0px);
    }
    .blog-images-2 {
        height: 150px;
        left: -15%;
    }

    .about-us-images img {
        height: 30vh;
        width: auto;
    }
}
